/* Coolors Exported Palette - coolors.co/f7ac62-d1495b-00798c-30638e-003d5b */

/* HSL */
$color1: hsla(30%, 90%, 68%, 1);
$color2: hsla(352%, 60%, 55%, 1);
$color3: hsla(188%, 100%, 27%, 1);
$color4: hsla(207%, 49%, 37%, 1);
$color5: hsla(200%, 100%, 18%, 1);

/* RGB */
$color1: rgba(247, 172, 98, 1);
$color2: rgba(209, 73, 91, 1);
$color3: rgba(0, 121, 140, 1);
$color4: rgba(48, 99, 142, 1);
$color5: rgba(0, 61, 91, 1);

/* #f7ac62; #d1495b ;#00798c; #30638e; #003d5b */