/* Coolors Exported Palette - coolors.co/990000-a21717-ab2e2e-b44545-be5c5c */

/* HSL */
$color1: hsla(0%, 100%, 30%, 1);
$color2: hsla(0%, 75%, 36%, 1);
$color3: hsla(0%, 58%, 43%, 1);
$color4: hsla(0%, 45%, 49%, 1);
$color5: hsla(0%, 43%, 55%, 1);

/* RGB */
$color1: rgba(153, 0, 0, 1);
$color2: rgba(162, 23, 23, 1);
$color3: rgba(171, 46, 46, 1);
$color4: rgba(180, 69, 69, 1);
$color5: rgba(190, 92, 92, 1);