/* Coolors Exported Palette - coolors.co/ffffff-4797d1-0c72ad-003e66-00244f */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(205%, 60%, 55%, 1);
$color3: hsla(202%, 87%, 36%, 1);
$color4: hsla(204%, 100%, 20%, 1);
$color5: hsla(213%, 100%, 15%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(71, 151, 209, 1);
$color3: rgba(12, 114, 173, 1);
$color4: rgba(0, 62, 102, 1);
$color5: rgba(0, 36, 79, 1);