/* Coolors Exported Palette - coolors.co/21295c-1b3b6f-3d8da3-065a82-9eb3c2 */

/* HSL */
$color1: hsla(232%, 47%, 25%, 1);
$color2: hsla(217%, 61%, 27%, 1);
$color3: hsla(193%, 46%, 44%, 1);
$color4: hsla(199%, 91%, 27%, 1);
$color5: hsla(205%, 23%, 69%, 1);

/* RGB */
$color1: rgba(33, 41, 92, 1);
$color2: rgba(27, 59, 111, 1);
$color3: rgba(61, 141, 163, 1);
$color4: rgba(6, 90, 130, 1);
$color5: rgba(158, 179, 194, 1);